textarea
{
	max-width: 100%;
	/*To Restrict the width of Textarea so that it should not go beyong form length*/
}

p
{
	text-align: justify;
}

img
{
	max-height: 100%;
	max-width: 100%;
}

footer img
{
	width: 50px;
	height: 50px;
}

ol
{
	display: inline-block;
}

#profileContainer
{
	background-color: whitesmoke;
	margin-top: 2%;
}

#MyCarousel,
#MyCarousel .item,
#MyCarousel .item img 
{
  height: 630px;
}
#MyCarousel .item img
{
  width: 100%;
}

#profilebuttons
{
	margin-top: 15px;
}